.title {
    color: #2272FF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.card4{
    margin-top: 151px;
}

.card5 {
    margin-top: 15px;
    flex-shrink: 0;
}
.body {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.bloc-tabs {
    display:flex;
    margin-top: 10px;
    flex-wrap: wrap; 
    
}

.tabs {
    margin-right: 73px;
    text-transform: uppercase;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

.CVtabs {
    text-transform: uppercase;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

.active-tabs {
    margin-right: 75px;
    text-transform: uppercase;
    color: #2272FF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

.content-tabs {
    margin-top: 10px;

}

.content {
    width: full;
    height: full;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: none;
}
.active-content {
    display: block;
}