.title {
    color: #2272FF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.card4{
    margin-top: 151px;
}

.card5 {
    margin-top: 15px;
    flex-shrink: 0;
}
.body {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bloc-tabs {
    display:flex;
    margin-top: 10px;
}

.tabs {
    margin-right: 73px;
    text-transform: uppercase;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

.CVtabs {
    text-transform: uppercase;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

.active-tabs {
    margin-right: 73px;
    text-transform: uppercase;
    color: #2272FF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

.content-tabs {
    margin-top: 10px;

}

.content {
    width: full;
    height: full;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: none;
}
.active-content {
    display: block;
}

.dropdown2 {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease;
    background-color: white;
}

@media(max-width:1040px){

    .dropdown2 {
        display:block;
    }
    .dropdown2.active .bar:nth-child(2){
        opacity: 0;
    }
    .dropdown2.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .dropdown2.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .bloc-tabs {
        display: none;
        gap: 0;
        flex-direction: column; 
        text-align: center; 
        width: 100%; 
        transition: 0.7s;
    }

    .tabs {
        margin: 4px 0px 0px 0px;
        text-align: center;
        cursor: pointer;
    }

    .bloc-tabs.active{
        display: flex;
        margin-bottom: 10px;
        margin-left: 0px;
    }

}
