.cardHolder {
    width: 352px;
    height: 431px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #D9D9D9;
}

.card3{
    margin-left: 136px;
    margin-top: 211px;
}

.card4{
    margin-top: 151px;
    margin-left: -333px;
}
.title {
    color: #2272FF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.card5 {
    margin-top: 15px;
    margin-left: -333px;
    width: 552px;
}
.body {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card6 {
    margin-left: -333px;
}

