.contactTitle {
    color: #2272FF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 202px;
    margin-left: 136px;
}

.mailIcon {
    margin-top: 27px;
    margin-left: 136px;
}
.mail {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 34px;
    margin-left: 41px;
}

.profileIcon {
    margin-top: 27px;
    margin-left: 136px;
    margin-bottom: 112px;
}

.profile{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 34px;
    margin-left: 41px;
}

.gitImage {
    flex-shrink: 0;
    margin-top: 61px;
    margin-left: 136px;
}

.gitLink { 
    margin-left: 41px;
    margin-top: 68px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}